body {
    background-size: 700px;
    background-attachment: scroll;
    background-color: rgb(124, 0, 0);
    background-image: url("../HAMimg/RedHellHamster.jpg");
    font-family: 'Klee One', cursive;
    margin-left: 2rem;
    margin-right: 2rem;
}